#canvas .circle ,#canvas_ .circle {
	display: inline-block;
	margin: 2em;
	top: 0;
}
#canvas button,#canvas_ button{
    margin: 1.5em;
	margin-top: -0.5em;
	width: 6.75em;
	border: none; /**轮廓 & 边框*/
	outline: none;
}

.circles-decimals {
	font-size: .4em;
}


.flexContainer1,.flexContainer2,.flexContainer3,.flexContainer4,
.flexContainer6,.flexContainer7,.flexContainer8.flexContainer9,.flexContainer10,.flexContainer11{
	flex-direction: column;
	display: inline-block;
}


