
/*轮播*/
.lb_gl{margin-bottom: 30px;background-size: 100% 100%;height:525px;background-color: rgba(51, 202, 187, 0.8)
} /** 最外容器高度*/
/**background: url(../../images/dropRoute/bkg2.jpg);*/
.container{width: 424px;margin:0 auto;position: relative;}
.pictureSlider{height: 218px;margin-bottom: 24px; width: 100%;margin-top: 50px;}
.poster-item{background: #fff;height: 453px;width:436px;border-radius: 10px;padding:45px 23px 20px 23px;
	transition: all 0.5s;cursor: default;
	-moz-transition: all 0.5s;cursor: default;
	-webkit-transition: all 0.5s;cursor: default;
	-o-transition: all 0.5s;cursor: default;
}  /**下面海报高度*/
.turn_3d{text-align: center;color: #fff;font-weight: 400;font-size: 36px;padding: 28px 0;}
.xxgy{font-size: 10px;font-weight: 700;padding-left: 10px;}
.poster-item .say{font-size: 18px;margin-bottom: 5px;padding-left: 10px;}
.students_star{padding:10px 10px 0 10px ;}
.cell_list{margin-bottom: 20px;color:#999;font-size: 18px;overflow: hidden;}
.darks{color: #000;padding-left: 10px;}
/*.zwjs{border-top:1px solid #d0cddb;line-height: 26px;padding-top: 5px;color: #999;font-size: 12px;max-height: 84px;overflow: hidden;}*/
.zwjs{border-top:1px solid #d0cddb;line-height: 26px;padding-top: 5px;color: #999;font-size: 12px;overflow: hidden;}
.for_btn{position: relative;height:90px;overflow:hidden} /**轮播图里图片的高度*/
.in_page{position: absolute;left: 50%;top:50%;width:40px;height: 40px;margin-left: -20px;margin-top: -20px;}
.in_page>img{width: 40px;height: 40px;}

.check_more{width: 180px;height: 50px;line-height: 50px;text-align: center;color:#fff;background: #bc241d;margin:0 auto;display: block;}

